body{
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    
}
.attribution{
    display: none;
}
section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qrBox{
    width: 17rem;
    height: auto;
    padding: 1rem 1rem;
    border-radius: 5%;
    background-color: white;
    text-align: center;
    color: hsl(220, 15%, 55%);
}
.qrBox h2 {
    color: hsl(218, 44%, 22%);
}
.qrBox img{
    width: 17rem;
    height: 17rem;
    border-radius: 5%;
}